pip install discord
pip install asyncio
pip install requests
pip install pystyle
pip install discord.py


 |===============================|
 |download these for it to work! |
 |===============================|
